/*
    * Nav / Home
    *
    * in container zit nav en home,
    * om te zorgen dat width niet groter wordt
    * dan 1800px 
*/
.container {
  background-color: var(--c-main);
  overflow: hidden;
}

////////////////
//nav
.nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: var(--c-white);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  span {
    color: var(--c-l-gray);
    font-size: 3rem;
  }
  a {
    text-decoration: none;
    color: var(--c-white);
  }
  .left {
    flex: 1;
    margin-left: 5rem;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    a {
      margin-right: 4rem;
      font-size: 2rem;
      &:hover {
        font-size: 2.5rem;
        color: var(--c-green);
      }
    }
  }
  @media only screen and (max-width: $bp-medium) {
    .center {
      display: none;
    }
  }

  .right {
    flex: 1;
    margin-right: 5rem;

    display: flex;
    justify-content: right;
    align-items: center;
    img {
      height: 2.5rem;
      margin-right: 1rem;
    }
    a {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-right: 5rem;
      font-size: 2rem;
      &:hover {
        font-size: 2.5rem;
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    .right {
      flex-direction: column;
      a {
        display: flex;
        margin: 0 0 1rem 0;
      }
    }
  }
}
////////////////
//Home
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 14rem 0 0 30rem;
  position: relative;

  .top-box {
    .box {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: var(--c-green);
      width: 20rem;
      border-radius: 0.5rem;
      margin-bottom: 4rem;
    }
    h1 {
      color: var(--c-white);
      font-size: 4rem;
      width: 50rem;
    }
    .p {
      margin-top: 4rem;
      color: var(--c-d-gray);
      width: 35rem;
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 8rem;
    }
    a {
      color: var(--c-green);
      font-size: 2rem;
      font-weight: 400;
      &:hover {
        font-size: 2.5rem;
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    .top-box {
      width: 80%;
    }
  }
  .bottom-box {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 8rem;
    .bbox {
      display: flex;
      font-size: 2rem;
      p {
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: var(--c-white);
        margin-right: 1rem;
      }
      span {
        color: var(--c-d-gray);
      }
    }
  }
  .cirkel-main {
    width: 80rem;
    height: 80rem;
    position: absolute;
    background-image: linear-gradient(to left top, #2d2e32, #2b2c30, #292a2e, #27282c, #25262a);
    top: -10rem;
    right: 20rem;
    border-radius: 50%;
    box-shadow: var(--shadow-dark);
  }
  .foto-box {
    position: absolute;
    bottom: -5rem;
    right: 20rem;
    img {
      height: 80rem;
    }
  }
  .cirkel-laravel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
    top: 30rem;
    right: 85rem;
    background-image: linear-gradient(to left bottom, #2d2e32, #2b2c30, #292a2e, #27282c, #25262a);
    border-radius: 50%;
    box-shadow: var(--shadow-dark);
    img {
      height: 18rem;
    }
  }
  .cirkel-nodejs {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    top: 2rem;
    right: 18rem;
    background-image: linear-gradient(to right top, #2d2e32, #2b2c30, #292a2e, #27282c, #25262a);
    border-radius: 50%;
    box-shadow: var(--shadow-dark);
    img {
      height: 4rem;
    }
  }
  .cirkel-composer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    top: 44rem;
    right: 24rem;
    background-image: linear-gradient(to right bottom, #2d2e32, #2b2c30, #292a2e, #27282c, #25262a);
    border-radius: 50%;
    box-shadow: var(--shadow-dark);
    img {
      height: 14rem;
    }
  }
  @media only screen and (max-width: $bp-largest) {
    .cirkel-main,
    .foto-box {
      display: none;
    }
    .cirkel-laravel {
      top: 15rem;
      right: 30rem;
      img {
        height: 18rem;
      }
    }
    .cirkel-nodejs {
      top: 0rem;
      right: 20rem;
      img {
        height: 4rem;
      }
    }
    .cirkel-composer {
      top: 17rem;
      right: 10rem;
      img {
        height: 14rem;
      }
    }
  }
  @media only screen and (max-width: $bp-large) {
    .cirkel-main,
    .foto-box,
    .cirkel-laravel,
    .cirkel-nodejs,
    .cirkel-composer {
      display: none;
    }
  }
}
////////////////
//Home @media
@media only screen and (max-width: $bp-largest) {
  .home {
    margin: 14rem 0 0 10%;
    justify-content: center;
    align-items: left;
  }
}
@media only screen and (max-width: $bp-large) {
  .home {
    margin: 14rem 0 0 0;
    align-items: center;
  }
}

/*
    * overMij sectie
    *
    * bij het width minder dan 1100 
    * veranderen de flex-direction naar column
*/
////////////////
//overMij
.overMij {
  background-color: var(--c-d-main);
  display: flex;
  padding: 15rem 8rem;
  .left {
    flex: 1;
    margin-right: 5rem;
    display: flex;
    .left-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--c-main);
        width: 80%;
        min-width: 500px;
        height: 20rem;
        padding: 5rem;
        margin-top: 1rem;
        border-radius: 1rem;
        box-shadow: var(--shadow-dark);
        &:hover {
          transform: scale(1);
          h1 {
            color: var(--c-green);
          }
        }
        h1 {
          color: var(--c-white);
          font-weight: 400;
          font-size: 2.5rem;
        }
        p {
          font-size: 2rem;
          color: var(--c-d-gray);
          margin-top: 0.5rem;
        }
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    .left {
      .left-container {
        .box {
          min-width: 300px;
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .right {
    flex: 1;
    .right-container {
      display: flex;
      flex-direction: column;
      h1 {
        margin-top: 5rem;
        color: var(--c-white);
        font-size: 4rem;
      }
      p {
        margin-top: 10rem;
        color: var(--c-d-gray);
        font-size: 2.5rem;
      }
    }
  }
}
////////////////
//overMij @media
@media only screen and (max-width: $bp-large) {
  .overMij {
    display: flex;
    flex-direction: column;
    padding: 15rem 5rem;
  }
}
